/* GLOBAL STYLES */

body {
	background-color: #fff;
}

code {
    font-size: 1.1em;
    font-weight: bold;
}

/* WRAPPER */

.wrapper {
    width: 948px;
    margin: 0 auto;
}

/* HEADER */

.header {
    border: 3px double gray;
    margin-bottom: 20px;
    background-color: #dedede;
    padding: 10px;
}

/* NAVIGATION */

.menu {
    background-color: silver;
    border: 1px solid gray;
    display: flex; justify-content:space-evenly; list-style-type: none; padding: 0;
}

.tab{flex-grow: 1}

.nav-links{text-decoration: none; text-align: center; display: block; margin: 0px; padding: 15px 5px; color: black;}

.nav-links:hover{background-color:gray; color:white; transition: all 300ms;}
.nav-link:active{background-color:gray; color:white;}

/* MAIN */

.main-content {
    border: 3px double gray;
    background-color: #dedede;
    padding: 10px;
}